.contact-form {
    width: 500px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    border-radius: 10px;
    padding: 15px;
    font-weight: bold;
    color: #040936ce;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.contact-form-h3 {
    font-size: 28px;
    color: #2C0E47;
    font-weight: bold;
    letter-spacing: 1px;
    width: 220px;
    margin: 2px auto;
    padding: 10px;
    border-radius: 10px;
}

.contact-form input {
    margin: 5px 0px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

.contact-form textarea {
    margin: 10px 0px;
    height: 140px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

.contact-form-button {
    background-color: #2C0E47;
    font-size: 16px;
    padding: 5px;
    width: 250px;
    color: #ebe2e2;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
}

.contact-form p {
    margin-top: 10px;
}