header {
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-bar {
    display: flex;
}

.un-list {
    margin: 0px 40px;
    padding: 0px;
}

li {
    display: inline-block;
    margin: 10px 25px;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
}