.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-socialnetworks {
    margin-top: 2px;
}

.footer-socialnetworks a img {
    padding: 0px;
    margin: 0px 10px;
    height: 40px;
    width: 40px;
}

.footer-copy-logo {
    display: flex;
    justify-content: center;
}

.footer-copyright {
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 0.8rem;
    margin: 10px 0px;
}