.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-socialnetworks {
    margin-top: 2px;
}

.footer-socialnetworks a img {
    padding: 0px;
    margin: 0px 10px;
    height: 30px;
    width: 30px;
}

.footer-copy-logo {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.footer-copyright {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 2px;
    margin-bottom: 0px;
}

.img-logo-footer {
    height: 21px;
    width: 100px;
    margin: 0px 5px;
}