/*--- RESET ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*--- BODY ---*/
  
body {
    background-color: #09264f;
    font-family: 'Poppins', sans-serif;
}
  
/* COLOR PALETTE:
  
background-color: #09264f;
color: #E4E8ED;
(fucsia): #B94735;
(rosa): #f6b8d5;
(gris): #E4E8ED;

*/