/*--- RESETEO ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*--- BODY ---*/
  
body {
    background-color: #09264f;
    font-family: 'Poppins', sans-serif;
}
  
/* PALETA DE COLORES:
  
background-color: #09264f;
color: #E4E8ED;
(fucsia): #B94735;
(rosa): #f6b8d5;
(gris): #E4E8ED;
*/

.not-found {
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.not-found-link {
    margin: 0px 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}