.aboutme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 80vh;
}

.aboutme-text-container {
    text-align: center;
}

.aboutme-text-h2 {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: 15px auto 20px auto;
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    width: max-content;
    animation: teclear 3s steps(34)
}

.aboutme-text-h3 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin: 0px auto 50px auto;
    color: white;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    width: max-content;
    animation: teclear 3s steps(32)
}

@keyframes teclear {
    from {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.aboutme-text {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px 20px;
    color: #040936ce;
    margin: 10px 40px;
}

.aboutme-text-h4 {
    margin: 10px auto;
    letter-spacing: 0.6px;
    color: white;
    font-size: 20px;
    text-align: justify;
}

.aboutme-buttons {
    margin: 0 auto;
}

.aboutme-button {
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 40px 20px;
    background: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
}

.aboutme-button:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.personal-photo {
    width: 450px;
    height: 480px;
    margin: 10px 60px;
}